body {
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-areas: 
    "logo nav";
    grid-template-columns: 40% 1fr;
    grid-template-rows: 100%;
    margin: 0;
    padding: 0;
    max-height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    /* background-image: url("Media/page background_2.jpg"); */
}
#logo {
    grid-area: logo;
    height: 140px;
    width: 140px;
    opacity: 1.0;
    text-align: right;
    background-color: rgba(250, 243, 229, 70%);
}
#logo:hover {
    background-color: rgba(250, 243, 229, 100%);
}
header nav#nav_area {
    grid-area: nav;
    text-align: right;
    font-size: xx-large;
    padding-top: 8%;
    text-decoration: none;
    padding-right: 5%;
}
header nav a {
    text-decoration: none;
    background-color: rgba(250, 243, 229, 50%);
} 
header nav a:hover {
    color: black;
}
body {
    background-image: url("Media/page background_2.jpg");
}
main.home {
    display: grid;
    grid-template-areas: 
    "main_img main_img"
    "text_1 image1"
    "image2 image3"
    "dis1 dis2";
    grid-template-columns: 50% 1fr;
    grid-template-rows: 25% 1fr 1fr 1fr;
    margin: 0;
}
.main_img {
    grid-area: main_img;
    background-image: url("Media/main.jpg");
    background-size: cover;
    backface-visibility: 100%;
}
#tag_line {
    background-color: rgba(180, 180, 248,50%);
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    border: 2px blue solid;
    border-radius: 10px;
    opacity: 110%;
    align-content: center;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin-top: 25%;
    margin-left: 34%;
}
.text_container {
    grid-area: text_1;
    height: fit-content;
    width: 350px;
    align-content: center;
    font-size: 1.7em;
    border: 3px rgb(0, 0, 255) solid;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px rgb(18, 1, 66);
    margin-top: 20%;
    margin-left: 150px;
    margin-bottom: 10%;
    background-color: rgba(250, 243, 229, 75%);
    box-shadow: 10px 10px rgb(255, 172, 7);
}
.image_container {
    grid-area: image1;
    align-content: center;
    margin: auto;
}
.image_container img {
    box-shadow: -40px -30px rgb(255, 172, 7);
}
.image2 {
    grid-area: image2;
    width: 100%;
    height: 100%;
}
.image3 {
    grid-area: image3;
    width: 100%;
    height: 100%;
}
#dis1 {
    grid-area: dis1;
    margin: auto;
}
#dis1 > img:hover {
    transform: scale(1.05);
    border-radius: 10px;
}
.dis_button1 {
    background-image: linear-gradient(to right, rgb(255, 0, 179) , rgb(255, 255, 255));
    border: solid 0px black;
    height: 60px;
    width: 250px;
    margin-top: 20px;
    margin-left: 11%;
    font-size: 1.2em;
    text-align: center;
    padding-top: 9px;
}
#dis1 > a {
    padding-top: 10%;
    text-decoration: none;
    color: black;
} 
.dis_button1:hover {
    background-image: linear-gradient(to right, rgb(255, 0, 179) , rgb(255, 0, 179));
    font-size: 1.4em;
}
#dis2 {
    grid-area: dis2;
    margin: auto;
}
#dis2 > img:hover {
    transform: scale(1.05);
    border-radius: 10px;
}
.dis_button2 {
    background-image: linear-gradient(to left, rgb(255, 0, 179) , rgb(255, 255, 255));
    border: solid 0px black;
    height: 60px;
    width: 250px;
    margin-top: 20px;
    margin-left: 11%;
    font-size: 1.2em;
    text-align: center;
    padding-top: 9px;
}
#dis2 > a {
    padding-top: 10%;
    text-decoration: none;
    color: black;
} 
.dis_button2:hover {
    background-image: linear-gradient(to right, rgb(255, 0, 179) , rgb(255, 0, 179));
    font-size: 1.4em;
}
#email_subscription {
    background-color: rgb(255, 200, 129);
    color: blue;
    padding-top: 20px;
    padding-left: 40%;
    padding-right: auto;
    padding-bottom: 20px;
    text-shadow: 20%;
    height: fit-content;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#email_subscription > h2 {
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#email_text {
    font-size: 1.2em;
    padding: 1%;
}
#subscribe_button {
    font-size: 1.2em;
    padding: 1%;
    background-color: rgb(141, 141, 248);
    border: solid 1px black;
}
.subscribe_button:hover {
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 1.2em;
}
#footer_links {
    display: grid;
    grid-template-areas: 
    "page_links footer_logo external_links symbol contact_details"
    "copyright copyright copyright copyright copyright";
    grid-template-columns: 40% 1fr 20% 10% 20%;
    grid-template-rows: 1fr 15%;
    background-color: rgba(250, 243, 229, 75%);
    font-size: 1.1em;
}
.page_links {
    grid-area: page_links;
    text-align: center;
    margin-top: 40px;
    margin-right: 20px;
    line-height: 150%;
}
.page_links>a {
    text-decoration: none;
}
.page_links>a:hover {
    color: black;
    transform: scale(1.05);
}
.footer_logo {
    grid-area: footer_logo;
    margin: auto;
    height: 20vh;
    width: 20vh;
    text-align: center;
}
.external_links {
    grid-area: external_links;
    text-align: center;
    margin-top: 20px;
}
.external_links img {
    height: 7vh;
    width: 7vh;
}
.contact_details {
    grid-area: contact_details;
    margin-top: 25px;
    margin-left: 10px;
    float: left;
    justify-items: center;
}
#symbol {
    grid-area: symbol;
    text-align: right;
    margin-top: 20px;
}
#symbol img {
    height: 5vh;
    width: 5vh;
}
.contact_details{
    font-size: 1.1em;
}
#ft1 {
    margin-top: 20px;
}
#copyright {
    grid-area: copyright;   
    font-style: italic;
    font-size: small;
    text-align: center;
}
form input:focus {
    box-shadow: 0px 10px 30px -20px black;
}
main #thankyou {
    display: block;
    font-size: larger;   
}
#Thank_you_text {
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(250, 243, 229, 80%); 
    margin-left: 20px;
    width: 190%;
    height: 390px;   
}
.hot_crepe {
    display: grid;
    grid-template-areas: 
    "card1 card2 card3"
    "card4 card5 card6"
    "card7 card8 card9";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px black solid;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    height: fit-content;
    box-shadow: 10px 10px rgb(255, 172, 7);
}
.hot_crepe legend {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(250, 243, 229, 80%);
}
#card1 {
    grid-area: card1;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card_img {
    border-radius: 10px;
    padding: 5px;
    height: 78%;
    width: 96%;
}
#card_section {
    float: left;
    margin-left: 10px;
    margin-top: 10px;   
}
.card_h3 {
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}
#card_h2 {
    text-align: right;
    margin-right: 15px;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
#card1:hover {
    transform: scale(1.08);
}

#card1:hover section {
    margin-top: 0;
}
div#card2 {
    grid-area: card2;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card2:hover {
    transform: scale(1.08);
}
#card2:hover section {
    margin-top: 0;
}
div#card3 {
    grid-area: card3;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card3:hover {
    transform: scale(1.08);
}
#card3:hover section {
    margin-top: 0;
}
div#card4 {
    grid-area: card4;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card4:hover {
    transform: scale(1.08);
}
#card4:hover section {
    margin-top: 0;
}
div#card5 {
    grid-area: card5;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card5:hover {
    transform: scale(1.08);
}
#card5:hover section {
    margin-top: 0;
}
div#card6 {
    grid-area: card6;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card6:hover {
    transform: scale(1.08);
}
#card6:hover section {
    margin-top: 0;
}
div#card7 {
    grid-area: card7;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card7:hover {
    transform: scale(1.08);
}
#card7:hover section {
    margin-top: 0;
}
div#card8 {
    grid-area: card8;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card8:hover {
    transform: scale(1.08);
}
#card8:hover section {
    margin-top: 0;
}
div#card9 {
    grid-area: card9;
    border: 2px solid black;
    border-radius: 10PX;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 50px;
    background-color: rgba(250, 243, 229, 80%);
}
#card9:hover {
    transform: scale(1.08);
}
#card9:hover section {
    margin-top: 0;
}
main.Contact_us {
    display: grid;
    grid-template-areas: 
    "contact_us_img contact_us_img form"
    "contact_us_text Contact_us_location Contact_us_location";
    grid-template-columns: 1fr 20% 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
    padding: 10px;
}
#Contact_us_img {
    grid-area: contact_us_img;
    height: 500px;
    width: 800px;
    margin:auto;
}
#form {
    grid-area: form;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(250, 243, 229, 80%);
    border: 2px solid rgb(255, 172, 7);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}
main.Contact_us input {
    width: 90%;
    height: 20px;
    border-radius: 5px;
}
#user_message {
    width: 90%;
    /* height: 150px; */
    border-radius: 5px;
    border: 2px solid black;
}
#contact_us_text {
    grid-area: contact_us_text;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(250, 243, 229, 80%);
    font-size: 1.7em;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 90%;
}
#contact_us_text a {
    text-decoration: none;
} 
#Contact_us_location {
    grid-area: Contact_us_location;
    height: 300px;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(255, 172, 7);
}